.amarillo{
	background-color: yellow;
}
.rojo{
	background-color: red;
}
div{
	height: 30%;
	width: 15%;
	font-size:100%;
	margin-bottom: 2%;
	display: inline;
}
.pd15{
	padding-left: 2%;
}
.pdt5{
	padding-top: 2%;
}
.may{
	text-transform: uppercase;
}
p{
	display: inline;
}